<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav mr-auto">
                    <h1 style="color:white">Komik Online - 32180009</h1>
                </ul>
                <ul>
                    <a href="http://localhost:5000/profil"
                      style="color:white">{{nama}}&nbsp;</a>
                </ul>
                    <a href="http://localhost:5000/logout"
                   class="btn btn-success float-right border border-dark" style="margin-bottom: 10px">Logout</a>
            </nav>
            <br>
        </div>

        <div class="col-sm-1"></div>
        <div class="col-md-10 border border-dark" style="margin-top: 50px; background-color: #D3D3D3;
            padding-top: 25px; padding-bottom: 25px">
            <a href="http://localhost:5000/admin"
               class="btn btn-success float-right border border-dark" style="margin-bottom: 10px">Back</a>
            <h2 class="text-center">Profil</h2>
            <form action="url_for('profil', username{{data.0}})" method="post" enctype="multipart/form-data" style="font-size: 18px">
                <table>
                    <tr>
                        <td>Username</td>
                        <td>: {{username}}</td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>: {{password}}</td>
                    </tr>
                    <tr>
                        <td>Nama</td>
                        <td>: {{nama}}</td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td>: {{email}}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>: {{alamat}}</td>
                    </tr>
                    <tr>
                        <td>No.Telp</td>
                        <td>: {{notlp}}</td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
</body>
</html>