<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah Komik 32180115</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
        <div class="row">
            <div class="col-sm-12">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav mr-auto">
                    <h1 style="color:white">Komik Online - 32180009</h1>
                </ul>
                <ul>
                    <a href="http://localhost:5000/profil"
                       style="color:white">{{nama}}&nbsp;</a>
                </ul>
                    <a href="http://localhost:5000/logout"
                   class="btn btn-success float-right border border-dark" style="margin-bottom: 10px">Logout</a>
            </nav>
            <br>
        </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 border border-dark" style="margin-top: 50px; background-color: #D3D3D3;
                padding-top: 25px; padding-bottom: 25px">
                <a href="http://localhost:5000/admin"
                   class="btn btn-success float-right border border-dark" style="margin-bottom: 10px">Back</a>
                <h2 class="text-center">Tambah Data</h2>
                <hr style="border: 1px solid black">

                <p style="color:red">{{ msg }}</p>

                <form action="{{ url_for('tambah') }}" method="post" enctype="multipart/form-data" style="font-size: 18px">
                    ID:<br />
                    <input type="text" class="form-control" name="id" size="10" maxlength="10" /><br />
                    Judul buku:<br />
                    <input type="text" class="form-control" name="judul" size="50" maxlength="40" /><br />
                    Mangaka:<br />
                    <input type="text" class="form-control" name="mangaka" size="30" maxlength="30"><br />
                    Penerbit:<br />
                    <input type="text" class="form-control" name="penerbit" size="25" maxlength="20"><br />
                    Stock:<br />
                    <input type="text" class="form-control" name="stockk" size="10" maxlength="10"><br />
                    Pilih Gambar:
                    <input type="file" name="file" onchange="loadFile(event)" multiple/><br> <br>
                    <p class="text-center"><img id="output" width="200" /></p><br>
                    <button class="btn btn-success float-right" type="submit" value="Simpan">Simpan</button>
                </form>
            </div>
        <div class="col-md-4"></div>
        </div>



</body>

<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>

</html>